<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>textHeaderView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>93657D521CFD2C1B00B9BA83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93657D6B1CFD2C1B00B9BA83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93657D761CFD2C1B00B9BA83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
